body {
  width: 90%;
  margin: 0 auto;
  background-color: #e1e3ec;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #c0392b;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #aaaaaa;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: #c0392b;
}

p {
  /*font-family: 'Josefin Sans', sans-serif;*/
}

acc {
  color: #999999;
  border-bottom: 1px solid;
}

/* HEADER */
#header {
  padding-top: 15px;
  margin-bottom: .6em;
}
#header h1 {
  float: left;
  font-size: 32px;
  margin-top: 1px;
  margin-bottom: 0;
}
#header nav {
  margin-top: 1.2em;
  margin-bottom: 0;
  float: right;
}

#header>h1>a {
  text-decoration: none;
  color: #777777;
}

#header>h1>a>img {
  vertical-align: top;
}

.example {
  font-size: 11px;
  padding: 10px;
  margin-bottom: 20px; 
  background-color: #fafbfe;
  border-left: 1px solid #d5d7e0;
  border-right: 1px solid #d5d7e0;
  border-bottom: 1px solid #bfc1c9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px #fff,0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px #fff,0 1px 1px rgba(0,0,0,0.05);
}

pre.apojop {
  max-height: 500px;
}
