select {
  border: 1px solid #ccc;
  background-color: #fff;
}

form.perciform {
  border-radius: 15px;
  padding: 8px 8px 6px 8px!important;
}

form.perciform.dimmed {
  opacity: 0.5;
  
  -webkit-transition: opacity 50ms linear;
     -moz-transition: opacity 50ms linear;
      -ms-transition: opacity 50ms linear;
       -o-transition: opacity 50ms linear;
          transition: opacity 50ms linear;
  
  -webkit-transition-delay: 1s;
     -moz-transition-delay: 1s;
      -ms-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}