<div
  ng-repeat="item in items" class='condition'
  ng-style="{'padding-left': 30 * item.level + 'px'}"
  >
  
  <!-- Group -->
  <form class="forms-inline-list perciform"
    ng-mouseover='$parent.hoveredItem = item;'
    ng-mouseleave='$parent.hoveredItem = undefined;'
    ng-class="{true:'hovered', false:''}[$index >= min_children_index && $index <= max_children_index]"
    >
    <li ng-if='item.isGroup'>
      <select ng-model="item.groupType">
        <option value="or">Any of the following conditions</option>
        <option value="and">All of the following conditions</option>
      </select>
    </li>
    
    <li ng-if='!item.isGroup'>
      <select ng-model="item.type"
        ng-change="item.operators = operators[item.type.realtype]; item.operator = item.operators[0]; item.value = undefined;"
        ng-options="type as type.label for type in types | filter: {shown: true}">
      </select>
    </li>
    
    <li ng-if='!item.isGroup'>
      <select ng-model="item.operator"
        ng-options="operator as operator.label for operator in item.operators">
      </select>
    </li>
    
    <li ng-if="!item.isGroup && (item.type.realtype != 'datems')">
      <input ng-model='item.value' type="text"></input>
    </li>
    
    <date-time ng-if="!item.isGroup && (item.type.realtype == 'datems')" value='item.value'></date-time>

    <li><button ng-show='item == hoveredItem' ng-click="addAfter(item)" class="btn" style='font-size:7px;vertical-align:top;'><i class="icon-plus"></i></button></li>
    <li><button ng-show='item == hoveredItem' ng-disabled="$index == 0" ng-click="remove(item)" class="btn" style='font-size:7px;vertical-align:top;'><i class="icon-minus"></i></button></li>
    <li><button ng-show='item == hoveredItem' ng-click="addGroupAfter(item)" class="btn" style='font-size:7px;vertical-align:top;'><i class="icon-folder-close"></i></button></li>
    
    <li ng-show='item.isGroup && getChildrenCount(item, items) == 0' style='color: #c0392b;'>
      No children for this group
    </li>
  </form>
</div>
