<ul class="forms-inline-list">
  &nbsp;
  <li><input ng-model='model.hours' class="input-time-xsmall" ng-class="{true:'error', false:''}[invalid.hours]" type="text"></li>
  :
  <li><input ng-model='model.minutes' class="input-time-xsmall" ng-class="{true:'error', false:''}[invalid.minutes]" type="text"></li>
  :
  <li><input ng-model='model.seconds' class="input-time-xsmall" ng-class="{true:'error', false:''}[invalid.seconds]" type="text"></li>
  .
  <li><input ng-model='model.milliseconds' class="input-time-small" ng-class="{true:'error', false:''}[invalid.milliseconds]" type="text"></li>
  &nbsp;
  &nbsp;
  <li><input ng-model='model.day' class="input-time-xsmall" ng-class="{true:'error', false:''}[invalid.day]" type="text"></li>
  /
  <li><input ng-model='model.month' class="input-time-xsmall" ng-class="{true:'error', false:''}[invalid.month]" type="text"></li>
  /
  <li><input ng-model='model.year' class="input-time-small" ng-class="{true:'error', false:''}[invalid.year]" type="text"></li>
</ul>