  &nbsp;
  <li><input ng-model='model.hours' size="3" ng-class="{true:'error', false:''}[invalid.hours]" type="text"></li>
  :
  <li><input ng-model='model.minutes' size="3" ng-class="{true:'error', false:''}[invalid.minutes]" type="text"></li>
  :
  <li><input ng-model='model.seconds' size="3" ng-class="{true:'error', false:''}[invalid.seconds]" type="text"></li>
  .
  <li><input ng-model='model.milliseconds' size="3" ng-class="{true:'error', false:''}[invalid.milliseconds]" type="text"></li>
  &nbsp;
  &nbsp;
  <li><input ng-model='model.day' size="3" ng-class="{true:'error', false:''}[invalid.day]" type="text"></li>
  /
  <li><input ng-model='model.month' size="3" ng-class="{true:'error', false:''}[invalid.month]" type="text"></li>
  /
  <li><input ng-model='model.year' size="3" ng-class="{true:'error', false:''}[invalid.year]" type="text"></li>
