<div class="units-row">
  <div class='unit-50'>
  <h4>What's that ?</h4>
    <p>Percival is an AngularJS directive that offers an user-friendly editor for logical expressions. It reads from and writes to an Abstract Syntax Tree, nothing less, nothing more.</p>
  <h4>How can I use it ?</h4>
  <p>Look below : on the left, there is the directive in action. Add, remove, edit whatever you want, and look at the right. There is the model, updated in real time thanks to the <a href="assets/magic.gif">AngularJS magic</a>.</p>
  <p></p>
  </div>
  <div class='unit-50'>
    
  </div>
</div>
<div class="units-row">
  <div class='unit-50 example'>
    <editor change='ok' types="types" conditions="conditions"></editor>
  </div>
  <div class='unit-50 example'>
    <pre ng-bind-html-unsafe="'$scope.conditions = ' + (conditions | pretty:95:'columns') + ';'"></pre>
  </div>
</div>