  &nbsp;
  <li><input ng-model='model.hours' style="width:20px;" ng-class="{true:'error', false:''}[invalid.hours]" type="text"></li>
  :
  <li><input ng-model='model.minutes' style="width:20px;" ng-class="{true:'error', false:''}[invalid.minutes]" type="text"></li>
  :
  <li><input ng-model='model.seconds' style="width:20px;" ng-class="{true:'error', false:''}[invalid.seconds]" type="text"></li>
  .
  <li><input ng-model='model.milliseconds' style="width:20px;" ng-class="{true:'error', false:''}[invalid.milliseconds]" type="text"></li>
  &nbsp;
  &nbsp;
  <li><input ng-model='model.day' style="width:20px;" ng-class="{true:'error', false:''}[invalid.day]" type="text"></li>
  /
  <li><input ng-model='model.month' style="width:20px;" ng-class="{true:'error', false:''}[invalid.month]" type="text"></li>
  /
  <li><input ng-model='model.year' style="width:30px;" ng-class="{true:'error', false:''}[invalid.year]" type="text"></li>
